<!--#include virtual="Include_Files.asp" -->
<!-- METADATA TYPE="typelib" FILE="C:\Program Files\Common Files\System\ado\msado15.dll" -->
<!--#include virtual="TrackingProcessing.asp" -->


<!DOCTYPE html>

<html>
  
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>{{= site_name }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
  
  <!-- FAVICON -->
  <link rel="icon" type="image/png" href="https://www.usconcealedcarry.com/images/uscca_favicon1.png" />

  <!-- TYPEKIT -->
  <script src="//use.typekit.net/yfc4rjx.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <!-- VENDOR STYLES -->
  <!-- bower:css -->
  <!-- build:css styles/vendor.css -->

  <!-- endbuild -->
  <!-- endbower -->

  <script type="text/javascript" src="/js/Ajax_DeltaDefense_ProductCartActions.js?<%=DeltaDefenseVersion%>"></script>
  
  <!-- USER STYLES -->
  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="css/style.css">
  <!-- endbuild -->

  <!-- Optimizely -->
  <script src="//cdn.optimizely.com/js/42699537.js"></script>

  <!-- GOOGLE TRACKING -->
  <!--#include virtual="Include_DeltaDefense_KissMetrics_Upper.html" -->
  <!--#include virtual="Include_DeltaDefense_GoogleAnalytic_Upper.html" -->

</head>

<body>
  
  <header>
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          
          <div class="col-xs-6">
            <p class="left hidden-xs">U.S. Concealed Carry Association</p>
          </div><!-- /col -->   

          <div class="col-xs-6 right hidden-xs">
            <p>Empowering Self-Reliant Americans to</p>
            <p>Confidently Protect What Matters Most</p>
          </div><!-- /col -->

          <img class="header-logo" alt="USCCA Logo" src="img/USCCA-logo.png" />

        </div> <!-- /container -->
      </div> <!-- /row -->
    </div> <!-- /container-fluid -->      
  </header>

  
  <!-- Write some damn code! -->


  <footer>
    <div class="container-fluid">
      <div class="footer-content">
        <div class="container">
          <div class="logo-container col-xs-12">
            <img class="footer-logo" alt="USCCA Logo" src="img/USCCA-logo.png">
          </div>
            
          <div class="copy-container">
            <div class="row">
              <div class="left col-md-6 col-xs-12">
                <h2>Who Is The USCCA?</h2>
                <p class="who-is-uscca">The USCCA is the first &amp; largest member-owned association dedicated to educating, training, and insuring responsibly armed Americans. With over 120,000 members and subscribers, the USCCA is your all-in-one resource for home defense and personal preparedness.</p>
              </div><!-- /col -->
              
              <div class="right col-md-6 col-xs-12">
                <p>U.S. Concealed Carry Association</p>
                <p>877-677-1919 <span>|</span> <a href="https://www.usconcealedcarry.com/contact/" target="_blank">Contact Us</a></p>
                <a href="http://www.bbb.org/wisconsin/business-reviews/gun-safety-and-marksmanship-instruction/delta-defense-llc-in-west-bend-wi-1000003792/" target="_blank"> 
                  <img src="img/bbb.png">
                </a>
              </div><!-- /col -->
            </div><!-- /row -->
            
            <div class="row">
              <div class="copyright-section">
                <div class="col-sm-6 col-xs-12">
                  <p>&copy; 2003-<%= Year(now) %>  Delta Defense, LLC. All Rights Reserved. Reproduction without permission prohibited.</p>
                </div>
                
                <div class="col-sm-6 col-xs-12">
                  <div class="link-bundle">
                    <a href="https://www.usconcealedcarry.com/policies/guarantee/" target="_blank">Our Bullet-Proof Guarantee</a>
                    <a href="https://www.usconcealedcarry.com/policies/privacy/" target="_blank">Privacy Policy</a>
                    <a href="https://www.usconcealedcarry.com/policies/terms/" target="_blank">Terms of Use</a>
                  </div>
                </div>
              </div><!-- /copyright-section -->
            </div><!-- /row -->
          </div><!-- /copy-container -->
        </div><!-- /container -->
      </div><!-- /footer-content -->
    </div><!-- /container-fluid -->
  </footer>

  
  <!--#include virtual="Include_GoogleAnalytics_Remarketing.html" -->
  <!--#include virtual="Include_DeltaDefense_Core_ProcessingBuyForm.html"-->


  <!-- VENDOR SCRIPTS -->
  <!-- bower:js -->
  <!-- build:js scripts/vendor.js -->
  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../bower_components/html5shiv/dist/html5shiv.js"></script>
  <script type="text/javascript" src="../bower_components/js/DeltaDefense_Master.js?v=<%=DeltaDefenseVersion%>"></script>
  <!-- endbuild -->
  <!-- endbower -->

  <!-- USER SCRIPTS -->
  <!-- build:js scripts/main.js -->
  <script src="scripts/main.js"></script>
  <!-- endbuild -->

</body>

</html>
